body,
html {
  min-height: 100vh;
  margin: 0;
}

.background-image {
  background-image: url("../assets/background.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}
