<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h1 class="text-center mt-5">Add New Article</h1>
            <form class="container mt-4" [formGroup]="form" (ngSubmit)="addArticle()">
                <div class="mb-3">
                    <label for="titleInput" class="form-label">Title</label>
                    <input type="text" class="form-control" id="titleInput" formControlName="title"
                        placeholder="Enter article title">
                </div>
                <div class="mb-3">
                    <label for="imageUrlInput" class="form-label">Image URL</label>
                    <input type="url" class="form-control" id="imageUrlInput" formControlName="imageUrl"
                        placeholder="Enter image URL">
                </div>
                <div class="mb-3">
                    <label for="locationSelect" class="form-label">Location</label>
                    <select class="form-control" id="locationSelect" formControlName="locationId">
                        <option value="" disabled selected>Choose a location...</option>
                        <option *ngFor="let location of locations" [value]="location._id">{{ location.name }}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="contentTextArea" class="form-label">Content</label>
                    <textarea class="form-control" id="contentTextArea" formControlName="content" rows="5"
                        placeholder="Article content"></textarea>
                </div>
                <button class="btn btn-primary">Add Article</button>
            </form>
        </div>
    </div>
</div>