<div class="card" style="width: 25rem; height: 28rem;">
    <div class="image-container" style="width: 25rem;">
        <img src="{{article.imageUrl}}" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{article.title | slice : 40}}</h5>
        <div class="card-subtitle mb-2 text-muted">
            <span><i class='fas fa-map-marker-alt' style='font-size:24px;color:orangered'
                    routerLink="/locations/{{article.locationId}}"></i>
                {{ article.locationId | locationNameFromId | async }}</span>
            <span class="text-right" style="float:right;">Added {{article._createdOn! | elapsedTime}}</span>
        </div>
        <p class="card-text">{{article.content | slice: 95}}</p>
        <div class="buttons-container">
            <a [routerLink]="['/articles', article._id]" class="btn btn-primary">Read more</a>
            <app-heart-toggle [isToggled]="isLiked()" (toggle)="onToggleLike()"></app-heart-toggle>
        </div>
    </div>
</div>