.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: top; */
  overflow: hidden;
}

.card-title {
  text-align: center;
  font-weight: 600;
}

.fas.fa-map-marker-alt {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.fas.fa-map-marker-alt:hover {
  transform: scale(1.1);
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.buttons-container a:first-child {
  justify-self: start;
}

.buttons-container app-heart-toggle:last-child {
  justify-self: end;
}
