.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  text-align: center;
  color: #333;
}

.content h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.small-para {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}

.content p,
.content .poem p {
  margin-bottom: 12px;
  line-height: 1.6;
}

em {
  font-weight: bold;
}

.poem {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  font-style: italic;
}

.poem .author {
  display: block;
  margin-top: 7px;
  padding-right: 90px;
  text-align: right;
  font-style: normal;
  font-weight: bold;
}
