<div class="overlay">
    <div class="content">
        <h1>Welcome!</h1>
        <h6>Discover Bulgaria</h6>
        <p class="small-para">Here you can find articles to inspire your travels and you can explore beautiful new
            locations. Add new articles and exiting locations to help other travelers embark on new
            adventures.</p>
        <div class="poem">
            <p><em>Traveler</em></p>
            <p>I travel alone in the night, in solitude —<br>
                and the stars shine for me from afar...<br>
                My heart is filled with the grace,<br>
                with which the night obstructs me.</p>

            <p>Below me — both road and field, and seas —<br>
                and everything sleeps in the earth's darkness...<br>
                My heart is filled with the silence,<br>
                with which the night greets the traveler.</p>

            <p>I travel alone in the night, in solitude...<br>
                And everything sleeps... And only I do not sleep —<br>
                my heart is filled with the great<br>
                love, with which the night walks the traveler...</p>

            <span class="author">Peyo Yavorov</span>
        </div>
    </div>
</div>