<div class="container">
    <h1>Learn</h1>
    <div *ngIf="hasArticles; else noArticlesTemplate" class="row">
        <div *ngFor="let article of articles" class="card" style="width: 25rem;">
            <div class="image-container" style="width: 25rem;">
                <img src="{{article.imageUrl}}" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{article.title}}</h5>
                <h6 class="card-title">Where: {{article.locationId}}</h6>
                <p class="card-text card-text-two-lines">{{article.content}}</p>
                <div class="buttons-container">
                    <a [routerLink]="article._id" class="btn btn-primary">Read more</a>
                    <app-heart-toggle class="like" />
                </div>
            </div>
        </div>
    </div>
    <ng-template #noArticlesTemplate>
        <p>No articles yet.</p>
    </ng-template>
</div>