<div class="card h-100">
    <div class="image-container" style="height: 16rem">
        <img src="{{ location.imageUrl }}" class="card-img-top" alt="{{ location.name }}"
            routerLink="/locations/{{location._id}}">
    </div>
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ location.name }}</h5>
        <p class="card-text flex-grow-1">{{ location.description | slice : 100 }}</p>
        <div>
            <span class="badge bg-dark me-2">Provice: {{ location.province }}</span>
            <span class="badge bg-secondary">Region: {{ location.region }}</span>
        </div>
        <a [routerLink]="['/locations', location._id]" class="btn btn-primary mt-3 btn-discover-more">Discover More</a>
    </div>
    <div class="card-footer text-muted">
        {{ location.distanceFromCapital }} km from Sofia
    </div>
</div>