<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div *ngIf="location" class="card">
                <img src="{{ location.imageUrl }}" class="card-img-top" alt="Location Image">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ location.name }}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Province: {{ location.province }}</li>
                        <li class="list-group-item">Region: {{ location.region }}</li>
                        <li class="list-group-item">Distance from capital: {{ location.distanceFromCapital }} km</li>
                        <br>
                    </ul>
                    <p class="card-text">{{ location.description }}</p>
                    <div class="card-body">
                        <a href="#" class="card-link btn btn-primary" (click)="editLocation(location._id!)">Edit</a>
                        <a href="#" class="card-link btn btn-danger" (click)="deleteLocation(location._id!)">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>