<nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" routerLink="/">
            <img src="../../../assets/image.png" alt="Logo" class="navbar-logo">
            Bulgaria Travel Gems
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-lg-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/articles">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/locations">Locations</a>
                </li>
                <ng-container *ngIf="isLoggedIn$ | async">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Contribute
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/add-article">Add Article</a></li>
                            <li><a class="dropdown-item" routerLink="add-location">Add Location</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Contributions
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/my-articles">My Added Articles</a></li>
                            <li><a class="dropdown-item" routerLink="my-locations">My Added Locations</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/liked-articles">My Liked Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/profile">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">Logout</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="!(isLoggedIn$ | async)">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>